SECRET_KEY=replace-me
USE_SQLITE=true

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=hextick
DB_USER=hextick
DB_PASSWORD=hextick
DB_HOST=db
DB_PORT=5432

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=hextick
MINIO_ENDPOINT=http://minio:9000
